<html>
    <head>
        <title>日志查询平台</title>
    </head>
    <body>
        <div>
        日志查询平台:
        <a href="{{ url_for('index') }}">查询</a>
        <a href="{{ url_for('list') }}">列出文件</a>
        <a href="{{ url_for('download') }}">下载</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
        {% block content %}
        
        {% endblock content %}

    </body>
</html>